.stars {
    -fx-background-image: url('../images/stars.png') repeat scroll center top black;
    -fx-z-index: 0;
}
.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
.search-button{
-fx-background-image:url('../images/button/search.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:#0085b1;
-fx-background-position:right;   
   
}
.cng-button{
-fx-background-color:black
}
.cng-button:hover{
-fx-border-radius:3;
-fx-border-color:#3ab7cf
}

.pentagonshapebtn{

	-fx-border-width:2;
	-fx-border-color:#2dbbd2;
    -fx-shape: "M230,70 L280,99 L260,150 L200,150 L180,99 Z";
     -fx-background-color: 
radial-gradient(center 50% 50% , radius 45%  ,#2a5f70,#111a24);
}
.pentagonshapebtn:hover{
	 -fx-effect: innershadow(one-pass-box, white, 5, 0.3, 1, 1);
	-fx-border-width:2;
	-fx-border-color:#2dbbd2;
}
.pentagonshapebtn:selected{
	-fx-background-color:white
}
.back{
    -fx-graphic: url('../images/buttonIcon/arrow-left_f3851f_14.png');
}
.logout{
    -fx-graphic: url('../images/buttonIcon/power-off_f3851f_14.png');
    
}
.home{
    -fx-graphic: url('../images/buttonIcon/home_f3851f_14.png');
}
.setting{
    -fx-background-color:#f3851f;
    -fx-graphic: url('../images/buttonIcon/cog_ffffff_18.png');
}
.lessonPlanning{
    -fx-background-color:#f3851f;
    -fx-graphic: url('../images/buttonIcon/pencil-square-o_ffffff_18.png');
}
.start{
    -fx-background-color:#f3851f;
    -fx-graphic: url('../images/buttonIcon/play_ffffff_18.png');
}
.setting:hover{
    -fx-background-color:#E8740A;
}
.lessonPlanning:hover{
    -fx-background-color:#E8740A;
}
.start:hover{
    -fx-background-color:#E8740A;
}
.setting:pressed{
    -fx-border-color:#26487F;
}
.lessonPlanning:pressed{
    -fx-border-color:#26487F;
}
.start:pressed{
    -fx-border-color:#26487F;
}
.paneclose{
-fx-graphic: url('../images/buttonIcon/times_000000_16.png');
}
.linptrn{
    -fx-background-image: url('../images/linePtrn.png');
}