.stars {
    -fx-background-image: url('../images/stars.png') repeat scroll center top black;
    -fx-z-index: 0;
}
.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
.search-button{
-fx-background-image:url('../images/button/search.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:#0085b1;
-fx-background-position:right;   
   
}
.back{
    -fx-graphic: url('../images/buttonIcon/arrow-left_f3851f_14.png');
}
.logout{
    -fx-graphic: url('../images/buttonIcon/power-off_f3851f_14.png');
    
}
.home{
    -fx-graphic: url('../images/buttonIcon/home_f3851f_14.png');
    
}
.classdaySchedule{
    -fx-background-color: #008cba;
    -fx-graphic:url('../images/buttonIcon/calendar_ffffff_22.png');
}
.addLeave{
    -fx-background-color: #43ac6a;
    -fx-graphic:url('../images/buttonIcon/volume-off_ffffff_22.png');
}
.schoolHoliday{
    -fx-background-color: #f04124;
    -fx-graphic:url('../images/buttonIcon/star_ffffff_22.png');
}
.lessonPlanning{
     -fx-background-color: #008cba;
     -fx-graphic:url('../images/buttonIcon/pencil_ffffff_22.png');
}
.classdaySchedule:hover{
    -fx-background-color:#007095;
}
.addLeave:hover{
    -fx-background-color:#368a55;
}
.schoolHoliday:hover{
    -fx-background-color:#cf2a0e;
}
.lessonPlanning:hover{
    -fx-background-color:#007095;
}
.updateSchedule{
    -fx-background-color: #008cba;
}
.updateSchedule:hover{
    -fx-background-color:#007095;
}
.print{
    -fx-background-color: #008cba;
}
.print:hover{
    -fx-background-color:#007095;
}
.addNewLesson{
    -fx-background-color:#f3851f;
}
.addNewLesson:hover{
    -fx-background-color:#E8740A;
}