.stars {
    -fx-background-image: url('../images/stars.png') repeat scroll center top black;
    -fx-scale-z:1;
    
}
.new {
    -fx-background-image: url('../images/406872.jpg') repeat scroll black;
    -fx-background-position: center center;
    -fx-background-size: cover, auto;
    -fx-scale-z:1;
    
}
.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
.english-button{
-fx-background-image:url('../images/button/english.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;   
   
}
.chineesse-button{
-fx-background-image:url('../images/button/chieneesse.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;   
   
}
.francais-button{
-fx-background-image:url('../images/button/francais.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;   
   
}
.espanol-button{
-fx-background-image:url('../images/button/espanol.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;   
   
}
.cloud{
-fx-background-image:url('../images/button/clouds.png');
-fx-scale-z:0;
-fx-animated:true;

}
.enter{
    -fx-background-color:#f3851f;
}
.enter:hover{
    -fx-background-color:#E8740A;
}
.enter:pressed{
    -fx-border-color:#26487F;
}
.cclouds{
    -fx-background-image: url(../images/clouds.png);
    -fx-background-repeat: repeat;
}
.ttwinkling{
    -fx-background-image:url(../images/twinkling.png);
    -fx-background-repeat: repeat;
    
}
.cld{    
    -fx-background-image: url(../images/button/clouds.png);
}
.rscld{
    -fx-background-image: url(../images/button/resizedimage.png);
}