.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
  
   

.body-pane{
-fx-border-radius:0 0 13 13;
-fx-border-width:1;
-fx-border-color:#3ab7cf;
-fx-background-color:black;
-fx-baxkground-radius:0 0 13 13;
}

.image-pane{
-fx-background-radius: 30;
-fx-background-color:white
}
.backa-button{
-fx-background-image:url('../image/button/backa.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;   
   
}
.home-button{
-fx-background-image:url('../image/button/home.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;   
   
}
.search-button{
-fx-background-image:url('../images/button/search.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:#0085b1;
-fx-background-position:right;   
   
}
.search-button:pressed{
-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
-fx-background-color:#0085b1;
-fx-background-radius:1 1 1 1;
-fx-background-insets: 2 2 2 2 ;
}
.logout-button{
-fx-background-image:url('../images/button/logout.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:black;
-fx-background-position:right;

}
.button-effect:pressed{
-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
-fx-background-color: rgba(205,205,205,0.7);
-fx-background-radius: 15 15 15 15;
-fx-background-insets: 2 2 2 2 ;
}
#tab.view{
    -fx-text-fill: white;
    -fx-border-width: 0, 0;
    -fx-font-size: 12px;
}

.background-black{
-fx-background-color:black;
}
.bg-spane{
    -fx-background-image:url('../images/jpeg.jpg');
}
.back{
    -fx-graphic: url('../images/buttonIcon/arrow-left_f3851f_14.png');
}
.logout{
    -fx-graphic: url('../images/buttonIcon/power-off_f3851f_14.png');
    
}
.home{
    -fx-graphic: url('../images/buttonIcon/home_f3851f_14.png');
    
}