.progress-bar:determinate .track{
    -fx-background-color:null;
}
.progress-bar:determinate .bar{
/*     -fx-background-color: linear-gradient(from 41px 34px to 50px 50px, reflect,  #1facff 10%, #ffffff  99%);*/
/*-fx-background-color: linear-gradient(from 3px 58px to 52px 52px, reflect,  #, #ffffff 100%);*/
 -fx-background-color: linear-gradient(
        from 0px .1em to .10em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        #1facff 50%,
        #ffffff 99%
    );
}
.slider .track{
     -fx-background-color: null;
}
.slider .thumb{
    -fx-background-color: rgba(0, 100, 100, 0.5);
    -fx-shape:"M10,10.5 L10.5,10 L10,9.5 L9.5,10 Z"
    /*-fx-effect*/
}
.subject-bg {
    -fx-background-image: url('../images/bg_biology.jpg') repeat scroll center top black;
    -fx-z-index: 0;
}
.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
.search-button{
-fx-background-image:url('../images/button/search.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:#0085b1;
-fx-background-position:right;   
   
}
.search-button:pressed{
-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
-fx-background-color:#0085b1;
-fx-background-radius:1 1 1 1;
-fx-background-insets: 2 2 2 2 ;   
}
.border-pane{

-fx-background-image:url('../images/button/linedbtn.png');

}
.videoIcon{
    -fx-graphic: url('../images/icon_video.png');
}
.glassesIcon{
    -fx-graphic: url('../images/button/icon_3d.png');
}
.body-pane{
-fx-border-radius:0 0 13 13;
-fx-border-width:1;
-fx-border-color:#3ab7cf;
-fx-background-color:black;
-fx-baxkground-radius:0 0 13 13;
}
.body-pane-button{
-fx-background-color:#008cba;
}
.body-pane-button:pressed{
-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
-fx-background-color:#0085b1;
-fx-background-radius:1 1 1 1;
-fx-background-insets: 2 2 2 2 ;
}
.action-button{
-fx-background-color:black
}
.action-button:pressed{
-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
-fx-background-color:#0085b1;
-fx-background-radius:1 1 1 1;
-fx-background-insets: 2 2 2 2 ;
}

.video-gif{
-fx-image:url('../images/video_poster.gif');

}
.triangle-shape{
        -fx-background-color:white;
        -fx-shape: "M5,0 L10,8 L5,15 Z";
}
.pause-shape{
        -fx-background-color:white;
        -fx-shape: "M200,110 L200,200 L230,200 L230,110 L160,110 L160,200 L190,200 L190,110 Z";
}
.fullscreenbtn{
        -fx-background-color:white;
        -fx-shape: "M90,80 L85,85 L85,90 L90,90 L95,85 L150,85 L155,90 L160,90 L160,85 L155,80 L155,50 L155,40 L160,40 L160,45 L150,45 L95,45 L90,40 L85,40 L85,45 L90,50 Z ";
}
.exitFSscreenbtn{
        -fx-background-color:white;
        -fx-shape: "M90,80 L95,80 L95,85 L150,85 L150,80 L155,80 L155,50 L150,50 L150,45 L95,45 L95,50 L90,50 Z ";
}
.back{
    -fx-graphic: url('../images/buttonIcon/arrow-left_f3851f_14.png');
}
.logout{
    -fx-graphic: url('../images/buttonIcon/power-off_f3851f_14.png');
    
}
.home{
    -fx-graphic: url('../images/buttonIcon/home_f3851f_14.png');
    
}
.fulscreenIcons{
    -fx-graphic: url('../images/buttonIcon/expand_1facff_20.png');
}
.minimizeIcons{
    -fx-graphic: url('../images/buttonIcon/compress_1facff_14.png');
}
.volumeupIcon{
    -fx-graphic: url('../images/buttonIcon/volume-up_1facff_20.png');
}

.FSminimizeIcons{
    -fx-graphic: url('../images/buttonIcon/compress_1facff_25.png');
}
.FSvolumeupIcon{
    -fx-graphic: url('../images/buttonIcon/volume-up_1facff_25.png');
}
.volumeoffIcon{
    -fx-graphic: url('../images/buttonIcon/volume-off_1facff_14.png');
}

.lineptrn{
-fx-background-image: url('../images/linePtrn.png');
}
.subttitle{
    -fx-graphic: url('../images/buttonIcon/cc_1facff_20.png');
}
.FSsubttitle{
    -fx-graphic: url('../images/buttonIcon/cc_1facff_25.png');
}
.volumeSlider .track{
    -fx-background-color: white;
}
.playpause{
    -fx-graphic: url('../images/buttonIcon/play_1facff_20.png');
}
.FSplaypause{
    -fx-graphic: url('../images/buttonIcon/play_1facff_25.png');
}
.toolbarpane{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}
.subjectDrop{
	-fx-font: 16px "Arial";
        -fx-text-alignment: "center";
}