.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
.search-button{
-fx-background-image:url('../images/button/search.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:#0085b1;
-fx-background-position:right;   
   
}
.body-pane{
-fx-border-radius:0 0 13 13;
-fx-border-width:1;
-fx-border-color:#3ab7cf;
-fx-background-color:black;
-fx-baxkground-radius:0 0 13 13;
}
.bg-spane{
-fx-background-image:url('../images/bg_biology.jpg');    
/*-fx-background-repeat:no-repeat;*/
}
.back{
    -fx-graphic: url('../images/buttonIcon/arrow-left_f3851f_14.png');
}
.logout{
    -fx-graphic: url('../images/buttonIcon/power-off_f3851f_14.png');
    
}
.home{
    -fx-graphic: url('../images/buttonIcon/home_f3851f_14.png');
    
}