.stars {
    -fx-background-image: url('../images/stars.png') repeat scroll center top black;
    -fx-z-index: 0;
}
.bg-image{
-fx-background-image:url('../images/bg_UI-Pattern.png');
-fx-background-radius:2;
-fx-border-width:2;
-fx-border-radius:5;
-fx-border-color:#3ab7cf;
}
.search-button{
-fx-background-image:url('../images/button/search.png');
-fx-background-image-border:2;

	-fx-background-repeat:no-repeat;
-fx-background-color:#0085b1;
-fx-background-position:right;   
   
}
.back{
    -fx-graphic: url('../images/buttonIcon/arrow-left_f3851f_14.png');
}
.logout{
    -fx-graphic: url('../images/buttonIcon/power-off_f3851f_14.png');
    
}
.home{
    -fx-graphic: url('../images/buttonIcon/home_f3851f_14.png');
    
}
.table-view:row-selection:constrained-resize .virtual-flow .clipped-container .sheet .table-row-cell:filled:even .table-column:filled:even .text{
    -fx-text-alignment:center;
}
.settingButton:hover{
    -fx-border-color:#3ab7cf;
}
.settingButton:pressed{
    
}
.changePassword{
     -fx-background-color:#f04124;
     -fx-graphic: url('../images/buttonIcon/pencil_ffffff_22.png');
}
.changePassword:hover{
    -fx-background-color:#cf2a0e;
}
.updateUser{
     -fx-background-color: #43ac6a;
     -fx-graphic: url('../images/buttonIcon/refresh_ffffff_22.png');
}
.updateUser:hover{
    -fx-background-color:#368a55;
}
.createUser{
     -fx-background-color: #008cba;
     -fx-graphic: url('../images/buttonIcon/user_ffffff_22.png');
}
.createUser:hover{
    -fx-background-color:#007095;
}